<div class="em-c-toolbar ">
    <div class="em-c-toolbar__item em-c-toolbar__item--stretch">
        <form role="search" class="em-c-search-form em-c-search-form--small">
            <div class="em-c-search__body">
                <input type="search" (keyup.enter)="getDataFromEndPoint()"  [(ngModel)]="searchPattern" [ngModelOptions]="{standalone: true}" id="search" class="em-c-search__input" placeholder="PTN number" value="" />
                    <button (click)="getDataFromEndPoint()" type="button" class="em-c-btn em-c-btn--primary em-c-btn--small" >                        
                            <div class="em-c-btn__inner">
                                    <svg class="em-c-icon em-c-icon--small em-c-btn__icon " data-em-icon-path="assets/unity-1.3.0/images/em-icons.svg">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/unity-1.3.0/images/em-icons.svg#search"></use>
                                    </svg>
                            </div>
                        
                    </button>
               
                <!-- end em-c-btn -->
            </div>
        </form>
        <!-- end em-c-search -->
        <p class="em-u-text-align-center"> <u>Advance search</u></p>
    </div>
    <!-- end em-c-toolbar__item -->
</div>

<div *ngIf="allItems.length!=0">
    <app-ptnlist [ptnListDetail]="allItems"></app-ptnlist>
</div>



<!-- end em-c-toolbar -->