<main role="main">
        <div class="em-l-container">
            <div class="em-c-page-header ">
                <h1 class="em-c-page-header__title">
                    <!-- 'fpo' stands for 'for placement only'. 'fpo-block' should be ignored-->
                    <div class="em-u-text-align-center fpo-block">

                    </div>
                </h1>
                <p class="em-c-page-header__desc">
      
                </p>
            </div>
            <!-- content -->
            <div class="em-c-page-header em-u-text-align-center">
                <h1 class="em-c-page-header__title"> Scan Barcode </h1>
            </div>

            <!-- Picture -->

            <figure class="em-c-figure">
                <div class="em-c-figure__media em-u-text-align-center">
                    <img src="https://teststorageptp.blob.core.windows.net/testblob/scanbarcode.png" alt="Alt Text" class="em-c-media-block__img" />
                </div>
                <!-- end em-c-figure__media -->
                <figcaption class="em-c-figure__caption"></figcaption>
            </figure>
            <!-- end em-c-figure -->


            <div class="em-c-field ">
                <label for="" class="em-c-field__label"></label>
                <div class="em-c-field__body">
                    <input type="" id="" class="em-c-input" placeholder="#BarCode" value=""  />
                </div>
                <!-- end em-c-field__body -->
                <div class="em-c-field__note"> LOG : message</div>
            </div>
            <!-- end em-c-field -->


            <div class="em-u-text-align-center">&nbsp;</div>
            <div class="em-u-text-align-center">
                <!-- <a href=""> -->
                <button class="em-c-btn ">
                    <span class="em-c-btn__text">Update PTN</span>
                </button>
                <!-- end em-c-btn -->
                <!-- </a> -->

            </div>
        </div>
        <!-- end em-l-container-->
    </main>